<br>
<div class="container" id="i18_link">
        <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="projects.my_projects">My Projects</span></h1>
        </div>
    </div>
        
    <div class="container">
        <div class="row">
                
            <div class="col-sm-12 col-md-1 text-center mb-3 mb-md-0">
                <i class="fa icon-python fa-2x"></i>
            </div>
            <div class="col-sm-12 col-md-3 text-center text-md-left text-uppercase mb-3 mb-md-0">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://raw.githubusercontent.com/Albina1810/Albina1810.github.io/master/static/assets/img/landing/stocks_icon.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Stock Portfolio Optimization</h5>
                    <p class="card-text"> Stocks allocation with given constraints on the minimum returns and risk aversion.</p>
                    <a href="https://github.com/Albina1810/ML-projects/blob/master/Portfolio_Optimization.ipynb" class="btn btn-primary" 
                       onClick="ga('send', 'event', { eventCategory: 'stocks portfolio', eventAction: 'button_click', eventLabel: 'stocks portfolio'});">Read More</a>
                    <br>
                  </div>
                </div>
            </div>
                
            <div class="col-sm-12 col-md-1 text-center mb-3 mb-md-0">
               <i class="fa icon-python fa-2x"></i>
            </div>
            <div class="col-sm-12 col-md-3 text-center text-md-left text-uppercase mb-3 mb-md-0">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://raw.githubusercontent.com/Albina1810/Albina1810.github.io/master/static/assets/img/landing/hearts_icon.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Heart Disease</h5>
                    <p class="card-text">Diagnostically predict whether or not a patient has heart disease</p>
                    <a href="https://github.com/Albina1810/ML-projects/blob/master/Heart_disease_prediction.ipynb" class="btn btn-primary">Read More</a>
                    <br>
                  </div>
                </div>
            </div>
                
            <div class="col-sm-12 col-md-1 text-center mb-3 mb-md-0">
                <i class="fa icon-python fa-2x"></i>
            </div>
            <div class="col-sm-12 col-md-3 text-center text-md-left text-uppercase mb-3 mb-md-0">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://raw.githubusercontent.com/Albina1810/Albina1810.github.io/master/static/assets/img/landing/flowers_icon.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Image Recognition</h5>
                    <p class="card-text">When Humans augment machines. Exploring the use of AutoML Vision to classify flowers.</p>
                    <a href="https://github.com/Albina1810/ML-projects/blob/master/AutoML_image_recognition.ipynb" class="btn btn-primary">Read More</a>
                    <br>
                  </div>                
                </div>
            </div>
         
                
        <div class="container" id="i18_link">
        <div class="row m-b-lg">
                
         <div class="row">
             <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
             </div> 
         </div>      
         </div> 
         </div> 
                
        
        <div class="container">
        <div class="row">
               <div class="col-sm-12 col-md-1 text-center mb-3 mb-md-0">
                <i class="fa icon-python fa-2x"></i>
               </div>
                
                <div class="col-sm-12 col-md-3 text-center text-md-left text-uppercase mb-3 mb-md-0">
                 <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://raw.githubusercontent.com/Albina1810/Albina1810.github.io/master/static/assets/img/landing/churn_icon.jpg" alt="Card image cap">
                   <div class="card-body">
                   <h5 class="card-title">Customers Churn</h5>
                  <p class="card-text">Build models to predict whether a customer is about to churn.</p>
                  <a href="https://github.com/Albina1810/ML-projects/blob/master/Customer_Churn_.ipynb" class="btn btn-primary">Read More</a>
            <br>
          </div>                
        </div>
    </div>
                
                <div class="col-sm-12 col-md-1 text-center mb-3 mb-md-0">
                 <i class="fa icon-python fa-2x"></i>
                </div>
                <div class="col-sm-12 col-md-3 text-center text-md-left text-uppercase mb-3 mb-md-0">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://raw.githubusercontent.com/Albina1810/Albina1810.github.io/master/static/assets/img/landing/lung_icon.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Lung_Cancer</h5>
            <p class="card-text">Predicting the chances of long-term survival of lung cancer-diagnosed patients</p>
            <a href="https://github.com/Albina1810/ML-projects/blob/master/Lung_Cancer_Hackathon.ipynb" class="btn btn-primary">Read More</a>
            <br>
          </div>                
        </div>
    </div>
                <div class="col-sm-12 col-md-1 text-center mb-3 mb-md-0">
                  <i class="fa icon-python fa-2x"></i>
               </div>
                
                <div class="col-sm-12 col-md-3 text-center text-md-left text-uppercase mb-3 mb-md-0">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://raw.githubusercontent.com/Albina1810/Albina1810.github.io/master/static/assets/img/landing/tsp_icon.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"> Route Optimization</h5>
            <p class="card-text"> Traveling Salesman Problem: What is the shortest possible route to visit each city and return to the origin city?</p>
            <a href="https://github.com/Albina1810/TSP/blob/master/TSP.ipynb" class="btn btn-primary">Read More</a>
            <br>
          </div>                
        </div>
    </div>
    </div> 
                
                
               </div>  
                
        </div>
    </div>
</div>
    
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p id="jalpc_site_pv"><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
        </div>
    </div>
</div>



